
<div style="width: 40em;">
  <img src="assets/logos/bizcastz.jfif" alt="Bizcastz logo">
  <img src="assets/logos/fnac.jpeg" alt="flag logo" style=" border-left: 1px solid black;">
  <img src="assets/logos/flagf.jpg" alt="flag logo">

</div>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 20px;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="height: auto;">
    <ul class="navbar-nav d-flex">
      <button class="navbuttons border-0"></button>
      <li class="nav-item active navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">REPORTS</a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">CONTENTS</a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">ON DEMAND</a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">PLAYLISTS</a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray; border-left: 1px solid gray;">
        <a class="nav-link" href="#">DEVICES</a>
      </li>
      <li class="nav-item navbuttons" style="border-right: 1px solid gray;border-left: 1px solid gray;">
        <a class="nav-link" href="#">SETTINGS</a>
      </li>
      <button class="navbuttons border-0" style="flex-grow: 0!important"></button>
    </ul>
  </div>
</nav>
