<!-- Content Wrapper. Contains page content -->
<div>
    <!-- Content Header (Page header) -->
    <p class="m-3 pmTop"><strong class="text-dark">Selected Form Factor:</strong></p>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content text-dark" >
      <div style="padding-right: 3em!important;">
        <!-- Small boxes (Stat box) -->
        <div style="background: rgb(238, 235, 235)!important;" class="cards d-flex flex-wrap">
          <div class="singlebox card">
            <!-- small box -->
            <div class="small-box">
              <div style="text-align: end;">
                <p class="text-dark"># of Stores:</p>
                <h3 class="text-success">{{SelectedFormFactor.numberOfStores}}</h3>
              </div>
              <div style="text-align: end;">
                <p class="text-dark">Connected Stores:</p>
  
                <h3 class="text-success">{{SelectedFormFactor.ConnectedStores}}</h3>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="singlebox card">
            <!-- small box -->
            <div class="small-box">
              <div style="text-align: end;">
                <p class="text-dark"># of Devices:</p>
  
                <h3 class="text-success">{{SelectedFormFactor.numberOfDevices}}</h3>
              </div>
              <div style="text-align: end;">
                <p  class="text-dark">Connected Devices</p>
                <h3 class="text-success">{{SelectedFormFactor.ConnectedDevices}}</h3>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="singlebox card">
            <!-- small box -->
            <div class="small-box">
              <div style="text-align: end;">
                <p  class="text-dark">Clicks:</p>
                <h3 class="text-success">{{SelectedFormFactor.Clicks}}</h3>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="singlebox card">
            <!-- small box -->
            <div class="small-box">
              <div style="text-align: end;">
                <p class="text-dark">Price Accuracy:</p>
                <h3 class="text-success">{{SelectedFormFactor.priceAccuracy}}</h3>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  