<div class="mt-3 mb-3">
  <div style="text-align: end; margin-bottom: 0.5em;" class="ddrefresh">
    <p for="start" class="text-dark">Form Factor:
    </p>
      <option class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="border: 1px solid lightgray!important; border-radius: 5px;">All Selected (6)
        <span class="caret"></span></option>
        <ul class="dropdown-menu">
          <li>Monitor</li>
        </ul>
    <label>
      <button class="refresh" style="margin-left: 1%;font-size: 1.5em;"><div style="transform: rotate(45deg) !important;"><strong>↻</strong></div></button>
    </label>
  </div>
  
  <div id="formfactor" style="text-align: start; padding-bottom: 0.5em;">
    <label for="start" class="text-dark"><strong>Selected Form Factor:&nbsp;</strong> 
      <p class="text-dark">PC, MONITOR, Blank, KIOSK, Blank, TV</p>
    </label>
    
  </div>
</div>







