
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="chart d-flex flex-wrap">
  <i style='font-size:24px; margin-right: 20px; margin-top: 0.4em; color: black;' class='fab'>&#xf369;</i>
  <div>
    <label for="start" class=" text-dark">Summary Dates:
      <input type="date" id="start" name="trip-start"
            value="2023-04-24"
            min="2013-01-01" max="2013 -12-31">
    </label>
  </div>
  <div>
    <label for="start" class=" text-dark">To:
      <input type="date" id="start" name="trip-start"
            value="2023-04-24"
            min="2013-01-01" max="2013 -12-31">
    </label>
  </div>
  <div class="ddrefresh d-flex">
    <p for="start" class="text-dark p-1">Form Factor
    </p>
      <option class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="border: 1px solid lightgray!important; border-radius: 5px;">Select Form Factor
        <span class="caret"></span></option>
        <ul class="dropdown-menu">
          <li>&nbsp;Form Factor</li>
        </ul>
    <label>
      <button class="refresh" style="margin-left: 1%;font-size: 1.5em;"><div style="transform: rotate(45deg) !important;"><strong>↻</strong></div></button>
    </label>
  </div>
  
</div> 