<div class="content-wrapper">
    <section class="content">
        <div class="p-3">
          <div class="row">
            <div class="col-12">
    
              <div class="card border-0">
                <div class="card-body">
                    <h3 style="color:rgb(7, 7, 168);">Locations</h3>
                  <table id="example1" class="table table-bordered">
                    <thead style="background: lightgray; font-size: 20px;">
                        <tr>
                            <th class="standardColumnWidth">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="green" class="bi bi-cloud-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                              </svg>
                            </th>
                            <th class="standardColumnWidth">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="red" class="bi bi-cloud-slash" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11l-1-1H3.781C2.231 12 1 10.785 1 9.318c0-1.365 1.064-2.513 2.46-2.666l.446-.05v-.447c0-.075.006-.152.018-.231l-.812-.812zm2.55-1.45-.725-.725A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711l-.733-.733C14.498 11.378 15 10.626 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3c-.875 0-1.678.26-2.339.661z"/>
                                <path d="m13.646 14.354-12-12 .708-.708 12 12-.707.707z"/>
                              </svg>
                            </th>
                            <th class="standardColumnWidth">Systems</th>
                            <th class="standardColumnWidth">%</th>
                            <th class="standardColumnWidth">Store #</th>
                            <th style="width: 20em; border: none!important;">Location</th>
                            <th class="standardColumnWidth">
                              <i class="fa-sharp fa-solid fa-tags"></i>
                            </th>
                            <th class="standardColumnWidth">%</th>
                            <th class="standardColumnWidth">Sessions</th>
                            <th class="standardColumnWidth">Clicks</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of CurrentStoreCompliance">
                      <td>{{item.CloudCheck}}</td>
                      <td>{{item.CloudStrike}}</td>
                      <td>{{item.Systems}}</td>
                      <td>{{item.FPercentage}}</td>
                      <td>{{item.StoreNumber}}</td>
                      <td>{{item.Location}}</td>
                      <td>
                        <div class="border d-flex" style="height: 1em; width: 4.5em;">
                          <div class="border checkedGreen" style="width: 1.5em;"></div>
                          <div class="border bg-light" style="width: 1.5em;"></div>
                          <div class="border checkedRed" style="width: 1.5em;"></div>
                        </div>
                      </td>
                      <td>{{item.SPercentage}}</td>
                      <td>{{item.Sessions}}</td>
                      <td>{{item.Clicks}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
</div>


  <!-- jQuery -->
<script src="../../assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../assets/plugins/jszip/jszip.min.js"></script>
<script src="../../assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../assets/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
